@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(168, 168, 168);
}

main{
    background-color: black;
    display: flex;

    max-width: 100%;
}

main > header > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;

    background-color: black;
    color: white;

    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: auto;

    transition-duration: 1s;
}

main > nav#menu{
    background-color: black;
    transition-duration: 1s;
}

@media(min-width: 1000px){
    main > header > h1{
        transition-duration: 1s;
        width: 300px;
    }
    main > nav{
        transition-duration: 1s;
        padding-left: 200px;
    }
}

div#menu-aberto  > ul{
    display: flex; 
    background-color: black;
    list-style-type: none;
    text-decoration: center;
    height: 50px;

    text-align: right;
    position: absolute;
}

div#menu-aberto > ul > li{
    text-align: center;

    width: 90px;
}

div#menu-aberto .topico{
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    background-color: rgb(3, 3, 3);
    color: rgb(212, 209, 209);
    padding: 15px;
    cursor: pointer;
}

div#menu-aberto .topico:hover{
    background-color: rgb(35, 35, 35);
    color: rgb(238, 238, 238);
}

div#menu-aberto li#lista-a{
    width: 140px;
}

div#menu-aberto li#lista-a > ul{
    display: none;
    list-style-type: none;
}

div#menu-aberto li#lista-a:hover > ul{
    display: block;
}

div#menu-icon{
    display: none;
    position: absolute;
    width: 100%;
}

div#menu-icon > div {
    display: inline;
}

div#menu-icon i{
    display: block;
    color: white;
    font-size: 2.2em;
    width: 60px;
    text-align: center;
    background-color: rgb(4, 4, 4);
}

div#menu-icon > div > ul{
    background-color: black;
    
    display: none;
}

div#menu-icon li{
    padding: 10px;
    padding-left: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

div#menu-icon a:hover{
    color: red;
}

div#menu-icon li#lista-an > ul{
    display: flex;
    list-style-type: none;
    padding-top: 15px;
    text-align: center;
}

div#menu-icon li#lista-an > ul > li#dub{
    text-align: center;
    width: 220px;
}

div#menu-icon a{
    text-decoration: none;
    color: white;
}

@media(max-width: 570px){
    div#menu-aberto{
        display: none;
    }
    div#menu-icon{
        display: block;
        grid-area: icon-menu;
    }

    div#menu-icon > div > i{
        height: 45px;
        background-color: rgb(9, 9, 9);
        padding-top: 5px;
    }

    main > header{
        grid-area: titulo;
    }

    main{
        display: grid;
        grid-template-areas: 
        "icon-menu titulo"
        ;
    }
}