@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #1b1b1c;
    overflow-x: hidden;
}

main#topo{
    background-color: black;
    display: flex;

    max-width: 100%;
    border-bottom: 2px solid rgb(43, 43, 43);
    margin: auto;
}

main#topo > header > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    text-align: center;

    background-color: black;
    color: white;

    width: 170px;
    height: 50px;
    line-height: 55px;
    padding-bottom: 5px;
    margin: auto;
    text-align: right;

    transition-duration: 1s;
}

main#topo > nav#menu{
    background-color: black;
    transition-duration: 1s;
}

@media(min-width: 1000px){
    main#topo > header > h1{
        transition-duration: 1s;
        width: 300px;
    }
    main#topo > nav{
        transition-duration: 1s;
        padding-left: 200px;
    }
}

@media(min-width: 1170px){
    main#topo > nav{
        transition-duration: 1s;
        padding-left: 400px;
    }
}

@media(min-width: 1366px){
    main#topo > header > h1{
        transition-duration: 1s;
        width: 390px;
    }
    main#topo > nav{
        transition-duration: 1s;
        padding-left: 560px;
    }
}

div#menu-aberto  > ul{
    display: flex; 
    background-color: black;
    list-style-type: none;
    text-decoration: center;
    height: 50px;

    text-align: right;
    position: absolute;
}

div#menu-aberto > ul > li{
    text-align: center;
    cursor: pointer;

    width: 90px;
}

div#menu-aberto .topico{
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    background-color: rgb(3, 3, 3);
    color: rgb(212, 209, 209);
    padding: 15px;
    cursor: pointer;
}

div#menu-aberto .topico:hover{
    background-color: rgb(35, 35, 35);
    color: rgb(238, 238, 238);
}

div#menu-aberto li#lista-a{
    width: 140px;
}

div#menu-aberto li#lista-a > ul{
    display: none;
    list-style-type: none;
}

div#menu-aberto li#lista-a:hover > ul{
    display: block;
}

div#menu-icon{
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
}

div#menu-icon > div {
    display: inline;
}

div#menu-icon img#icon{
    display: block;
    font-size: 2.2em;
    width: 60px;
    text-align: center;
    background-color: rgb(4, 4, 4);

    cursor: pointer;

    transition-duration: 1s;
}

div#menu-icon > div > ul{
    background-color: rgb(8, 8, 8);
    
    display: none;
}

div#menu-icon li{
    padding: 10px;
    padding-left: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;

    transition-duration: 0.3s;
}

div#menu-icon > div > ul > li{
    border-bottom: 2px solid rgb(30, 30, 30);
}

div#menu-icon li:hover > a{
    color: rgb(209, 24, 24);
}

div#menu-icon li#lista-an > ul{
    display: flex;
    list-style-type: none;
    padding-top: 15px;
    text-align: center;
}

div#menu-icon li#lista-an > ul > li#dub{
    text-align: center;
    width: 220px;
}

div#menu-icon a{
    text-decoration: none;
    color: white;
}

@media(max-width: 570px){
    div#menu-aberto{
        display: none;
    }
    div#menu-icon{
        display: block;
        grid-area: icon-menu;
    }

    div#menu-icon > div > img#icon{
        height: 45px;
        background-color: rgb(9, 9, 9);
        padding-top: 5px;
    }

    main#topo > header{
        grid-area: titulo;
    }

    main#topo{
        display: grid;
        grid-template-areas: 
        "icon-menu titulo"
        ;
    }
}

/*--------------------------------Alfabeto      */

main#conteudo{
    background-color: black;
    padding-top: 10px;
    max-width: 1200px;
    margin: auto;
}

div#alfabeto > h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding-left: 10px;
    padding-bottom: 10px;
}

div#alfabeto > div ul{
    display: flex;
    background-color: rgb(44, 44, 44);
    list-style-type: none;
}

div#alfabeto-caixa{
    overflow-x: hidden;
    max-width: 1200px;
    width: 100%;
}

div#alfabeto-caixa > ul{
    overflow-x: auto;
    width: 100vi;
}

::-webkit-scrollbar{
    background-color: rgb(38, 37, 37);
    height: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(94, 93, 93);
    border-radius: 5px;
}

div#alfabeto-caixa li.caixa-letra{
    padding: 13px;
    padding-left: 19px;
    transition-duration: 0.3s;
}

div#alfabeto-caixa li.caixa-letra a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(175, 172, 172);
}

div#alfabeto-caixa li.caixa-letra:hover > a{
    color: rgb(210, 35, 35);
}

/*------------------------------Conteúdo      */

main#conteudo-animes{
    background-color: black;
    max-width: 1200px;
    padding-bottom: 10px;
    margin: auto;
}

@media(min-width: 700px){
    main#conteudo-animes{
        display: grid;
        grid-template-areas: 
        "anime popular"
        ;
    }
    main#conteudo-animes > aside{
        max-width: 800px;
    }
    main#conteudo-animes > section{
        max-width: 400px;
    }
    section div.bloco-popular{
        margin: 0;
        padding: 0;
    }
}

aside{
    max-width: 1200px;
    border-bottom: 3px solid rgb(22, 22, 22);

    background-color: black;
    grid-area: anime;
}

aside > .topico-conteudo{
    display: flex;
    font-size: 1em;

    background-color: black;
    padding: 8px 2% 8px 3%;
}

.topico-conteudo > .titulo-conteudo{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: white;
    padding: 10px;

    border-left: solid 3.5px rgb(219, 2, 2);
}

.topico-conteudo > .ver-mais{
    background-color: rgb(237, 15, 15);
    color: rgb(255, 255, 255);
    border: none;
    
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 0.7em;

    width: 90px;
    height: 23px;
    margin-top: 19px;
    border-radius: 10px;
    padding: 4px;

    margin-left: auto;
    margin-right: 5px;
    transition-duration: 0.1s;
 }

 .topico-conteudo > .ver-mais:hover{
    background-color: rgb(185, 5, 5);
    color: rgb(255, 255, 255);
 }

/*-------------------------------------Capas dos Animes*/

.animes-caixa{
    background-color: rgb(8, 8, 8);
    overflow-x: auto;

    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
}

.animes-caixa::-webkit-scrollbar{
    background-color: rgb(20, 19, 19);
    height: 7px;
}

.animes-caixa::-webkit-scrollbar-thumb{
    background-color: rgb(49, 47, 47);
    border-radius: 5px;
}

.animes-caixa > .animes-capa{
    display: flex;

    transition-duration: 10s;
}


.animes-caixa > .animes-capa:active{
    transform: translateX(-151%);
    transition-delay: 0.2s;
    transition-duration: 10s;
}

@media(min-width: 700px){
    .animes-caixa > .animes-capa:active{
        transform: translateX( -120%);
        transition-delay: 0.2s;
        transition-duration: 10s;
    }
}

@media(min-width: 900px){
    .animes-caixa > .animes-capa:active{
        transform: translateX( -36%);
        transition-delay: 0.2s;
        transition-duration: 10s;
    }
}

.animes-capa > .img-capa{
    padding: 0 3px 0 4px;
}

.img-capa > a{
    text-decoration: none;
    color: white;
}

.img-capa > a:hover{
    color: rgb(216, 34, 34);
}

.img-capa div.nota{
    position: relative;
}

.img-capa div.nota  > p{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: clamp(0.8em, 0.7em + 1vw, 1em);
    color: rgb(255, 225, 0);
    cursor: auto;

    width: 43%;
    height: 20px;
    padding: 2px;
    text-align: center;
    right: 0;
    bottom: 2px;
}

.img-capa div.nota > p > span{
    color: white;
}

.img-capa > a  img{
    width: auto;
    height: 36vi;
    max-height: 226px;

    border-radius: 7px;
    transition-duration: 0.3s;
}

@media(max-width: 462px){
    .img-capa > a img{
        height: 43.5vi;
    }
}

.img-capa > a  img:hover{
    filter: brightness(50%);
}

.img-capa > a > .nome{
    margin: auto;
    width: 106px;
    padding: 2px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: clamp(0.9em, 1em + 1vw, 1.1em);
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.animes-eps{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    "ep ep1 ep3"
    ;
}

.animes-eps > .eps{
    max-width: 300px;
    padding: 5px;
    grid-area: ep, ep1, ep3;
}

@media(max-width: 485px){
    .animes-eps{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "ep ep1"
        ;
    }
}

.animes-eps > .eps > a{
    text-decoration: none;
    color: white;
}

.animes-eps > .eps > a:hover{
    color: rgb(209, 12, 12);
}

.animes-eps > .eps div.img-epç{
    position: relative;
}

.animes-eps > .eps img{
    border-radius: 10px;
    padding: 3px;
    width: 100%;
}

.animes-eps > .eps img:hover{
    filter: brightness(50%);
}

.animes-eps > .eps p{
    position: absolute;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.6em, 0.8em + 0.5vw, 1em);
    max-width: 100px;
    padding: 2px;
    text-align: center;
    right: -3px;
    bottom: 7px;

    border-radius: 0 0 5px 0;
}

.animes-eps > .eps .nome-ep{
    padding: 2px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: clamp(0.9em, 0.7em + 0.9vw, 1.2em);
    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*------------------------Populares, Anos*/

main#conteudo-animes > section{
    grid-area: popular;
}

section > div > h2{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: clamp(1em, 1em + 1.5vw, 1.5em);

    padding: 10px;
}

div#animes-populares{
    font-family: "Josefin Sans", sans-serif;
}

div.popular-bloco{
    position: relative;
    background-color: rgb(15, 15, 15);
    margin: 14px;
    margin-left: 20px;
}

div.popular-bloco > a{
    text-decoration: none;
    display: flex;
    overflow: hidden;

    width: 80px;
    height: 105px;
}

div.popular-bloco > a > img{
    width: 100%; 

    transition: 0.9s all ease-in-out;
}

div.popular-bloco:hover > a > img{
    transform: scale(1.2);
}

div.popular-bloco > a > h3{
    position: absolute;
    color: white;
    font-weight: normal;
    font-size: clamp(1em, 0.9em + 0.6vw, 1em);
    
    left: 110px;
    top: 10px;
}

div.popular-bloco > a > .top-ano{
    position: absolute;
    color: rgb(183, 181, 181);
    font-size: clamp(0.9em, 0.7em + 0.5vw, 1em);

    left: 110px;
    top: 33px;
}

div.popular-bloco > a > .top-nota{
    position: absolute;
    color: rgb(255, 208, 0);
    font-size: clamp(0.7em, 0.8em + 0.6vw, 1em);

    left: 110px;
    top: 85px;

    transition-duration: 0.5s;
}

div.popular-bloco  .top-nota > span{
    color: rgb(183, 181, 181);
}

div.popular-bloco:hover .top-nota > i{
    color: rgb(217, 10, 10);
}

/*------------------Ano*/
div#anos{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

div#anos > h2{
    color: white;
    font-size: clamp(1em, 1em + 1.5vw, 1.5em);
}

div#anos > ul{
    list-style-type: none;
    display: grid;
    grid-template-areas: 
    "ano ano1 ano2"
    ;
    gap: 8px;
}

div#anos li{
    background-color: rgb(13, 13, 13);
    font-size: 0.9em;
    text-align: center;
    padding: 7px;
    grid-area: ano, ano1, ano2;

    transition-duration: 0.7s;
}

div#anos li:hover{
    background-color: rgb(204, 15, 15);
}

div#anos li > a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: black; 
    transition-duration: 1s;
}

footer > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em, 1.1em + 1.1vw, 1.5em;
    text-align: center;

    padding: 10px;
}

footer > p.aroba{
    text-align: center;
}

@media(min-width: 1300px){
    footer{
        margin-top: 30px;
    }
}